.wrapper-modal--fail {
  background-color: rgba(162, 103, 93, 0.85);
}
.wrapper-modal--warning {
  background-color: rgba(149, 118, 70, 0.75);
}
.wrapper-modal--success {
  background-color: rgba(75, 100, 59, 0.62);
}
